# Pastas geradas pelo colcon
build/
install/
log/

# Cache e temporários
*.pyc
__pycache__/
*.sdf~
*.world~
.DS_Store
Thumbs.db

# Pasta de Configuração VS Code e IDEs
.vscode/
.idea/
*.swp
*.swo

# Arquivos do Dashboard
.backup_configurador/  
iniciar_simulacao.sh

# Cache do Gazebo
.gazebo/
